<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cabaña 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cabaña 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <calendar [eventSource]="eventSource" [calendarMode]="calendar.mode" [currentDate]="calendar.courrentDate">
  </calendar>

  <!-- <app-explore-container name="Tab 1 "></app-explore-container> -->
</ion-content>